
{% extends "layout.html" %}

{% block pageTitle %}
  GOV.UK Prototype Kit
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-xl">
        GOV.UK survey
      </h1>

      <p>This survey is made up of 4 sections containing 2 tasks.</p>
        
      <p>We will ask you to navigate to 2 example pages and answer some questions about your experience for each one. There will be an opportunity to give any extra feedback that’s not related to a specific question at the end of the survey.</p>

      {{ govukButton({
        text: "Start survey",
        href: "before-you-start",
        classes: "govuk-button--start govuk-!-margin-top-4"
      }) }}

    </div>
</div>

{% endblock %}
