
{% extends "layout.html" %}

{% block pageTitle %}
  GOV.UK survey - Task 1
{% endblock %}

{% block beforeContent %}

    {{ govukBackLink({
    text: "Back",
    href: "before-you-start"
    }) }}

{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

        <h1 class="govuk-heading-xl">Task 1</h1>

        <p>You will be asked to open an example of a GOV.UK content page. We would like you to navigate the page from top to bottom, click the ‘Continue’ button and then answer a question about it.</p>

        {{ govukButton({
            text: "View example page",
            href: 'task-1-example',
            classes: 'govuk-!-margin-top-6'
        }) }}

    </div>
</div>

{% endblock %}
