
{% extends "layout.html" %}

{% block pageTitle %}
  GOV.UK survey - Task 2 Queston
{% endblock %}

{% block beforeContent %}

    {{ govukBackLink({
    text: "Back",
    href: "task-2-example"
    }) }}

{% endblock %}

{% block content %}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

    <form action="/general" method="post" novalidate>

        {{ govukRadios({
          idPrefix: "form-page-problems",
          name: "form-page-problems",
          fieldset: {
            legend: {
              text: "Did you have any problems filling out this form?",
              isPageHeading: true,
              classes: "govuk-fieldset__legend--xl"
            }
          },
          items: [
            {
              value: "yes",
              text: "Yes"
            },
            {
              value: "no",
              text: "No"
            }
          ]
        }) }}

        {{ govukTextarea({
            name: "form-page-more-detail",
            id: "form-page-more-detail",
            label: {
                text: "Do you have any comments about your experience?"
            }
        }) }}

        {{ govukButton({
          text: "Continue survey"
        }) }}
      </form>
    
    </div>
</div>      

{% endblock %}