
{% extends "layout.html" %}

{% block pageTitle %}
  GOV.UK survey - Task 1
{% endblock %}

{% block beforeContent %}

    {{ govukBackLink({
    text: "Back",
    href: "before-you-start"
    }) }}

{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

        <h1 class="govuk-heading-xl">Task 1</h1>
        
        <p>Navigate the following example page from top, all the way to the bottom.</p>
        
        <p>Click the ‘Continue survey’ button, located underneath the footer and then answer a question about your experienece.</p>

        {{ govukButton({
            text: "View example page",
            href: 'task-1-example',
            classes: 'govuk-!-margin-top-6'
        }) }}

    </div>
</div>

{% endblock %}
